<h1 style="float:left">Editor
	<span class="info-icon" section="editor-info" />
</h1>
<div class="header-menu">		
		<span><a href="#" action="sync-fountain" title="Load content from cloud"><img class="sync-icon icon small-icon" /></a>&nbsp;|&nbsp;</span>
		<span>save .fountain: <a href="#" action="save-fountain"><img src="{{static_path}}gfx/icons/other/download.svg" class="icon small-icon" title="Download Fountain file" /></a></span>
		<span><a href="#" action="save-dropbox-fountain"><img src="{{static_path}}gfx/icons/other/dropbox.svg" class="icon small-icon" title="Upload Fountain file to Dropbox" /></a></span>
		<span><a href="#" action="save-gd-fountain"><img src="{{static_path}}gfx/icons/other/gd.svg" class="icon small-icon" title="Upload Fountain file to Google Drive" /></a></span>
	</div><div style="clear:both"/>
<p class="info-content" section="editor-info" style="clear:both">Just a basic editor. Use Ctrl-Space for auto-complete.</p>
<textarea id="editor-textarea" placeholder="Code goes here..." class="to-the-bottom"></textarea>
<!-- scripts -->
<script>
	require(['jquery', 'plugins/editor', 'utils/layout', 'utils/common'], function($, editor, layout, common) {
		var cm = editor.create_editor($('#editor-textarea').get(0));

		var editor_content = $('.plugin-content[plugin="editor"]');
		
		var sync_on_icon = common.data.static_path + 'gfx/icons/other/sync.svg',
		    sync_off_icon = common.data.static_path + 'gfx/icons/other/no-sync.svg',
			update_sync_layout = function() {
				$('.sync-icon')
					.attr('src', editor.is_sync() ? sync_on_icon : sync_off_icon)
					.attr('title', editor.is_sync() ? 'Turn synchroznization off' : 'Turn synchronization on');
				$('.CodeMirror').css('opacity', editor.is_sync() ? 0.5 : 1);			
			};
		
		$('a[action="sync-fountain"]').click(function(){
			if (editor.is_sync()) {
				editor.toggle_sync();
				$.prompt('Synchornization turned off.', {
					buttons: {'Keep content': true, 'Load version before sync': false},
					submit: function(e,v) {
						if (!v) {
							editor.restore();							
						}
					}
				});
			}
			else {
				editor.store();
				$.prompt("You can start writing in your editor. Content will be synchronized with ’afterwriting! PDF preview, facts and stats will be automatically upated.", {
					buttons: {'OK': true, 'Cancel': false},
					submit: function(e,v) {
						if (v) {
							editor.toggle_sync();
						}
					}
				});
			}
		});		
		
		editor.activate.add(function() {
			if (editor.sync_available()) {
				$('a[action="sync-fountain"]').parent().show();			
			}
			else {
				$('a[action="sync-fountain"]').parent().hide();	
			}
			update_sync_layout();
		});
		
		editor.toggle_sync.add(function() {
			update_sync_layout();
		});		

		var resize = function() {

			if (layout.small) {
				editor.set_size("auto", editor_content.height() - 70);
			} else {
				editor.set_size("auto", editor_content.height() - 100);
			}
		};

		resize();
		$(window).resize(resize);
	});
</script>