<style>
	.plugin-content[plugin="facts"] li span {
		font-weight: bold;
	}
	
</style>
<h1>Facts</h1>
<ul>
	<li>Title:
		<span id="facts-title"></span>
	</li>
	<li>Pages:
		<span id="facts-pages"></span>
	</li>
	<li>Time:
		<span id="facts-time"></span>
	</li>
	<li>Scenes:
		<span id="facts-scenes"></span>
	</li>
	<li>Action time:
		<span id="facts-action-time"></span>
	</li>
	<li>Dialogue time:
		<span id="facts-dialogue-time"></span>
	</li>
</ul>
<h2>Time of speaking</h2>
<span class="content-expander expand-dialogue show-all-dialogues" style="margin-left: 20px">Top 10 characters shown. Click here to show all&nbsp;
	<span class="nof-dialogues"></span>.</span>
<span class="content-expander expand-dialogue show-top-dialogues" style="display:none; margin-left: 20px">All&nbsp;
	<span class="nof-dialogues"></span>&nbsp;characters shown. Click here to show Top 10 only.</span>
<ol id="facts-characters"></ol>
<h2>Locations</h2>
<span class="content-expander expand-locations show-all-locations" style="margin-left: 20px">Top 10 locations shown. Click here to show all&nbsp;
	<span class="nof-locations"></span>.</span>
<span class="content-expander expand-locations show-top-locations" style="display:none; margin-left: 20px">All
	<span class="nof-locations"></span>&nbsp;locations shown. Click here to show Top 10 only.</span>
<ol id="facts-locations"></ol>
<!-- scripts -->
<script>
	require(['jquery', 'plugins/facts', 'utils/helper'], function($, facts, helper) {
		var handlers_added = false;

		facts.activate.add(function() {
			var facts_data = facts.data.facts;
			$('#facts-title').html(facts_data.title.replace(/\*/g, '').replace(/_/g, '').replace(/\n/g, ' / '));
			$('#facts-pages').html(facts_data.pages.toFixed(2));
			$('#facts-time').html(helper.format_time(facts_data.pages));
			$('#facts-scenes').html(facts_data.scenes);
			$('#facts-action-time').html(helper.format_time(facts_data.action_time));
			$('#facts-dialogue-time').html(helper.format_time(facts_data.dialogue_time));

			$('#facts-characters').empty();
			for (var i = 0; i < facts_data.characters.length; i++) {
				$('#facts-characters').append('<li class="' + (i >= 10 ? 'expandable' : '') + '">' + facts_data.characters[i].name + ' (' + helper.format_time(facts_data.characters[i].time) + ')</li>');
			}

			$('#facts-locations').empty();
			for (var i = 0; i < facts_data.locations.length; i++) {
				$('#facts-locations').append('<li class="' + (i >= 10 ? 'expandable' : '') + '">' + facts_data.locations[i].name + ' (' + facts_data.locations[i].count + ')</li>');
			}
			$('.nof-dialogues').html(facts_data.characters.length);
			$('.nof-locations').html(facts_data.locations.length);


			if (facts_data.characters.length > 10) {
				$('.show-all-dialogues').show();
				$('.show-top-dialogues').hide();
				$('#facts-characters li.expandable').hide();
			} else {
				$('.expand-dialogue').hide();
			}

			if (facts_data.locations.length > 10) {
				$('.show-all-locations').show();
				$('.show-top-locations').hide();
				$('#facts-locations li.expandable').hide();
			} else {
				$('.expand-locations').hide();
			}

			if (!handlers_added) {
				$('.expand-dialogue').click(function() {
					if ($(this).hasClass('show-all-dialogues')) {
						$('.show-all-dialogues').hide();
						$('.show-top-dialogues').show();
					} else {
						$('.show-all-dialogues').show();
						$('.show-top-dialogues').hide();
					}
					$('#facts-characters li.expandable').slideToggle({
						duration: 200
					});
				});
				$('.expand-locations').click(function() {
					if ($(this).hasClass('show-all-locations')) {
						$('.show-all-locations').hide();
						$('.show-top-locations').show();
					} else {
						$('.show-all-locations').show();
						$('.show-top-locations').hide();
					}
					$('#facts-locations li.expandable').slideToggle({
						duration: 200
					});
				});
				handlers_added = true;
			}
		});

	});
</script>