<style>
	.plugin-content[plugin="facts"] li span {
		font-weight: bold;
	}
</style>

<h1>Facts</h1>

<h2>Basic</h2>
<ul>
	<li>Title: <span id="facts-title"></span></li>
	<li>Pages: <span id="facts-pages"></span></li>
	<li>Time: <span id="facts-time"></span></li>
	<li>Scenes: <span id="facts-scenes"></span></li>
	<li>Action time: <span id="facts-action-time"></span></li>
	<li>Dialogue time: <span id="facts-dialogue-time"></span></li>
</ul>

<h2>Dialogues</h2>
<ol id="facts-characters">
</ol>

<h2>Locations</h2>
<ol id="facts-locations">
</ol>