
<h1>Start with...</h1>
<ul>
	<li><a href="#" open-action="open">open a script from disk</a></li>
	<li><a href="#" open-action="new">create new empty script</a></li>
</ul>
<h1>Samples</h1>
<ul>
	<li><a href="#" open-action="sample" value="big_fish"><i>Big fish</i></a> by John August</li>
	<li><a href="#" open-action="sample" value="brick_and_steel"><i>Brick & Steel</i></a> by Stu Maschwitz</li>
</ul>
<input id="open-file" type="file" style="display:none" />

