<h1>Open (Fountain or FinalDraft .fdx)</h1>
<ul>
	<li>
		<a href="#" open-action="open">Load from disk</a>
	</li>
	<li>
		<a href="#" open-action="dropbox">Open from Dropbox</a>
	</li>
	<li>
		<a href="#" open-action="new">...or create new</a>
	</li>
</ul>{{#if last_used.date}}
<h1>Last opened</h1>
<ul>
	<li>
		<a href="#" open-action="last">{{last_used.title}}</a>&nbsp;({{last_used.date}})</li>
</ul>{{/if}}
<h1>Samples</h1>
<ul>
	<li>
		<a href="#" open-action="sample" value="brick_and_steel">
			<i>Brick & Steel</i>
		</a>&nbsp;by Stu Maschwitz</li>
	<li>
		<a href="#" open-action="sample" value="my_living_memory">
			<i>My Living Memory</i>
		</a>&nbsp;by Dan Rahmel</li>
	<li>
		<a href="#" open-action="sample" value="printing_trouble">
			<i>Printing Trouble</i>
		</a>&nbsp;by Dan Rahmel</li>
</ul>
<div id="open-file-wrapper"></div>
<!-- interactions -->
<script>
	require(['jquery', 'plugins/open'], function($, open) {
		var reset_file_input = function() {
			$('#open-file-wrapper').empty();
			$('#open-file-wrapper').html('<input id="open-file" type="file" style="display:none" />');
			$("#open-file").change(function() {
				var selected_file = $('#open-file').get(0).files[0];
				open.open_file(selected_file);
				reset_file_input();
			});
		}

		$('a[open-action="open"]').click(function() {
			open.open_file_dialog()
		});

		$('a[open-action="new"]').click(open.create_new);
		$('a[open-action="sample"]').click(function() {
			var name = $(this).attr('value');
			open.open_sample(name);
		});
		$('a[open-action="last"]').click(open.open_last_used);

		if (open.is_dropbox_available()) {
			$('a[open-action="dropbox"]').click(open.open_from_dropbox);
		} else {
			$('a[open-action="dropbox"]').parent().hide();
		}

		open.open_file_dialog.add(function() {
			$("#open-file").click();
		});
		
		reset_file_input();

	});
</script>