<h1>Preview <span class="info-icon" section="preview-info"/></h1>
<p class="info-content" section="preview-info">Can't see anything? You need a PDF plugin in your browser.</p>
<iframe id="pdf-preview-iframe" class="to-the-bottom" style="width: 100%"></iframe>
<!-- scripts -->
<script>
	require(['jquery', 'plugins/preview'], function($, preview) {
		preview.activate.add(function() {
			document.getElementById("pdf-preview-iframe").src = preview.data.pdf.output("datauristring");
		});
	});
</script>