<h1 style="float:left">Preview
	<span class="info-icon" section="preview-info" />
</h1>
<div class="header-menu">
	<span>save .pdf: <a href="#" action="save-pdf"><img src="{{static_path}}gfx/icons/other/download.svg" class="icon small-icon" title="Download PDF" /></a></span>
	<span><a href="#" action="save-dropbox-pdf"><img src="{{static_path}}gfx/icons/other/dropbox.svg" class="icon small-icon" title="Upload PDF to Dropbox" /></a></span>
	<span><a href="#" action="save-gd-pdf"><img src="{{static_path}}gfx/icons/other/gd.svg" class="icon small-icon" title="Upload PDF to Google Drive" /></a></span>
</div><div style="clear:both"/>
<p class="info-content" section="preview-info">Can't see anything? You need a PDF plugin in your browser. (You can download pdf from
	<a class="switch" href="#" plugin="save">here</a>)</p>
<div id="pdf-preview-iframe-container" class="to-the-bottom" style="display:none"></div>
<div id="pdf-preview-pdfjs-container" class="to-the-bottom">
	<div>
		<button id="prev">prev</button>
		<button id="next">next</button>
		<button id="zoomin">+</button>
		<button id="zoomout">-</button>
	</div>
	<div>
        <canvas id="pdf-canvas" style="border: 1px solid #999999" />
	</div>

</div>
<!-- scripts -->
<script>
	require(['jquery', 'plugins/preview', 'modules/data'], function($, preview, data) {

		$('#next').click(preview.next);
		$('#prev').click(preview.prev);
		$('#zoomin').click(preview.zoomin);
		$('#zoomout').click(preview.zoomout);

		preview.refresh.add(function() {
			if (data.config.pdfjs_viewer) {
				$('#pdf-preview-iframe-container').hide();
				$('#pdf-preview-pdfjs-container').show();
			}
			else {
				$('#pdf-preview-iframe-container').show();
				$('#pdf-preview-pdfjs-container').hide();
			}

			$('#pdf-preview-iframe-container').html('<p>Loading preview...</p><embed id="pdf-preview-iframe" style="height: 100%; width: 100%; display:none"  type="application/pdf"></embed>');

			setTimeout(function() {
				if (!data.config.pdfjs_viewer) {
					preview.get_pdf(function (data) {
						$("#pdf-preview-iframe-container p").remove();
						$("#pdf-preview-iframe").attr('src', data.url).css('display', 'block');
					});
				}
				else {
					preview.get_pdfjs();
				}
			}, 0);

		});
		preview.deactivate.add(function() {
			$("#pdf-preview-iframe").remove();
		});
	});
</script>