<h1>Preview
	<span class="info-icon" section="preview-info" />
</h1>
<p class="info-content" section="preview-info">Can't see anything? You need a PDF plugin in your browser. (You can download pdf from
	<a class="switch" href="#" plugin="save">here</a>)</p>
<div id="pdf-preview-iframe-container" class="to-the-bottom"></div>
<!-- scripts -->
<script>
	require(['jquery', 'plugins/preview'], function($, preview) {
		preview.activate.add(function() {
			$('#pdf-preview-iframe-container').html('<p>Loading preview...</p><iframe id="pdf-preview-iframe" style="height: 100%; width: 100%; display:none"></iframe>');

			setTimeout(function() {
				preview.get_pdf(function(data) {
					$("#pdf-preview-iframe-container p").remove();
					$("#pdf-preview-iframe").attr('src', data.url).css('display', 'block');
				});
			}, 200);


		});
		preview.deactivate.add(function() {
			$("#pdf-preview-iframe").remove();
		});
	});
</script>