<h1>Preview
	<span class="info-icon" section="preview-info" />
</h1>
<p class="info-content" section="preview-info">Can't see anything? You need a PDF plugin in your browser. (You can download pdf from
	<a class="switch" href="#" plugin="save">here</a>)</p>
<div id="pdf-preview-iframe-container"></div>
<!-- scripts -->
<script>
	require(['jquery', 'plugins/preview'], function($, preview) {
		preview.activate.add(function() {
			$('#pdf-preview-iframe-container').html('<iframe id="pdf-preview-iframe" class="to-the-bottom" style="width: 100%"></iframe>');
			//$("#pdf-preview-iframe").attr('src', preview.data.pdf.output("datauristring"));

			preview.get_pdf_url(function(url) {
				$("#pdf-preview-iframe").attr('src', url);
			});

		});
		preview.deactivate.add(function() {
			$("#pdf-preview-iframe").remove();
		});
	});
</script>