<h1>Save</h1>
<ul>
	<li>filename: <input id="save-filename"/>.*</li>
	<li>as .fountain:
		<a href="#" action="save-fountain">download</a>
		<span>&nbsp;|&nbsp;
			<a href="#" action="save-dropbox-fountain">send to Dropbox</a>
		</span>
	</li>
	<li>as .pdf:
		<a href="#" action="save-pdf">download</a>
		<span>&nbsp;|&nbsp;
			<a href="#" action="save-dropbox-pdf">send to Dropbox</a>
		</span>
	</li>
</ul>
</table>