<h1>Save</h1>
<table>
	<tr>
		<td width="50%">.fountain</td>
		<td>
			<a href="#" action="save-pdf">download</a>
		</td>
		<td>
			<a href="#" action="save-dropbox-fountain">save on Dropbox</a>
		</td>
	</tr>
	<tr>
		<td>.pdf</td>
		<td>
			<a href="#" action="save-fountain">download</a>
		</td>
		<td>
			<a href="#" action="save-dropbox-pdf">save on Dropbox</a>
		</td>
	</tr>
</table>