<style>
	.plugin-content[plugin="settings"] .buttons {
		float: right;
	}
	.plugin-content[plugin="settings"] .buttons p {
		margin: 0;
	}
	.plugin-content[plugin="settings"] table {
		margin: auto;
		width: 100%;
	}
	.plugin-content[plugin="settings"] tr td:nth-child(1) {
		text-align: right;
		border-right: 0;
	}
	.plugin-content[plugin="settings"] tr td:nth-child(2) {
		text-align: left;
		width: 50%;
		border-left-width: 0;
	}
	.settings-panel {
		width: 90%;
		margin: auto;
	}
	
</style>
<h1>Settings
	<span class="info-icon" section="settings-info" />
</h1>
<p class="info-content" section="settings-info">You can change configuration here. Some settings (e.g. page size, double space between scenes) may affect statistics which are based on assumption that 1 page = 1 minute of a movie .</p>
<div class="settings-panel">
	<table>
		<tbody>
			<tr>
				<th colspan="2">Print</th>
			</tr>
			<tr>
				<td>Page size:</td>
				<td>
					<select setting="print_profile">
						<option value="a4">A4</option>
						<option value="usletter">US letter</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Print title page:</td>
				<td>
					<input setting="print_title_page" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Print sections:</td>
				<td>
					<input setting="print_sections" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Print synopsis:</td>
				<td>
					<input setting="print_synopsis" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Print notes:</td>
				<td>
					<input setting="print_notes" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Print scene headers:</td>
				<td>
					<input setting="print_headers" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Print action:</td>
				<td>
					<input setting="print_actions" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Print dialogue:</td>
				<td>
					<input setting="print_dialogues" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Header:</td>
				<td>
					<input setting="print_header" type="text">
				</td>
			</tr>
			<tr>
				<td>Footer:</td>
				<td>
					<input setting="print_footer" type="text">
				</td>
			</tr>
			<tr>
				<td>Watermark:</td>
				<td>
					<input setting="print_watermark" type="text">
				</td>
			</tr>
			<tr>
				<th colspan="2">Layout</th>
			</tr>
			<tr>
				<td>Split dialogue between pages:</td>
				<td>
					<input setting="split_dialogue" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Accept dual dialogue:</td>
				<td>
					<input setting="use_dual_dialogue" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Double space between scenes:</td>
				<td>
					<input setting="double_space_between_scenes" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Page break after a scene:</td>
				<td>
					<input setting="each_scene_on_new_page" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Prefix sections with numbers:</td>
				<td>
					<input setting="number_sections" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Embolden scene headers:</td>
				<td>
					<input setting="embolden_scene_headers" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Scene numbers:</td>
				<td>
					<select setting="scenes_numbers">
						<option value="none">none</option>
						<option value="left">left</option>
						<option value="right">right</option>
						<option value="both">both</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Scene continuation (the bottom of a page):</td>
				<td>
					<input setting="scene_continuation_bottom" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Scene continuation(the top of the next page):</td>
				<td>
					<input setting="scene_continuation_top" type="checkbox">
				</td>
			</tr>
			<tr>
				<th colspan="2">Miscellaneous</th>
			</tr>
			<tr>
				<td>Show background image:</td>
				<td>
					<input setting="show_background_image" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Load last opened on startup:</td>
				<td>
					<input setting="load_last_opened" type="checkbox">
				</td>
			</tr>
			<tr>
				<th colspan="2">Statistics</th>
			</tr>
			<tr>
				<td>Keep last scene slugline time of day if not specified:</td>
				<td>
					<input setting="stats_keep_last_scene_time" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>
					<em>"Who with who"</em>max characters:</td>
				<td>
					<input setting="stats_who_with_who_max" type="input" style="width: 50px">
				</td>
			</tr>
			<tr>
				<th colspan="2">Experimental</th>
			</tr>
			<tr>
				<td>GoogleDrive lazy loading:</td>
				<td>
					<input setting="cloud_lazy_loading" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>PDF.js viewer:</td>
				<td>
					<input setting="pdfjs_viewer" type="checkbox">
				</td>
			</tr>
		</tbody>
	</table>
</div>
<script>
	require(['plugins/settings'], function(settings) {

		var data_to_components = function() {
			var c = settings.get_config();
			$('*[setting="show_background_image"]').prop('checked', c.show_background_image);
			$('*[setting="print_title_page"]').prop('checked', c.print_title_page);
			$('*[setting="embolden_scene_headers"]').prop('checked', c.embolden_scene_headers);
			$('*[setting="load_last_opened"]').prop('checked', c.load_last_opened);
			$('*[setting="double_space_between_scenes"]').prop('checked', c.double_space_between_scenes);
			$('*[setting="each_scene_on_new_page"]').prop('checked', c.each_scene_on_new_page);
			$('*[setting="split_dialogue"]').prop('checked', c.split_dialogue);
			$('*[setting="print_sections"]').prop('checked', c.print_sections);
			$('*[setting="print_synopsis"]').prop('checked', c.print_synopsis);
			$('*[setting="print_notes"]').prop('checked', c.print_notes);
			$('*[setting="print_headers"]').prop('checked', c.print_headers);
			$('*[setting="print_actions"]').prop('checked', c.print_actions);
			$('*[setting="print_dialogues"]').prop('checked', c.print_dialogues);
			$('*[setting="number_sections"]').prop('checked', c.number_sections);
			$('*[setting="use_dual_dialogue"]').prop('checked', c.use_dual_dialogue);
			$('*[setting="stats_keep_last_scene_time"]').prop('checked', c.stats_keep_last_scene_time);
			$('*[setting="scene_continuation_top"]').prop('checked', c.scene_continuation_top);
			$('*[setting="scene_continuation_bottom"]').prop('checked', c.scene_continuation_bottom);
			$('*[setting="cloud_lazy_loading"]').prop('checked', c.cloud_lazy_loading);
			$('*[setting="pdfjs_viewer"]').prop('checked', c.pdfjs_viewer);
			$('*[setting="print_profile"]').val(c.print_profile);
			$('*[setting="stats_who_with_who_max"]').val(c.stats_who_with_who_max);
			$('*[setting="print_header"]').val(c.print_header);
			$('*[setting="print_footer"]').val(c.print_footer);
			$('*[setting="print_watermark"]').val(c.print_watermark);
			$('*[setting="scenes_numbers"]').val(c.scenes_numbers);
		};

		var components_to_data = function() {
			var c = settings.get_config();
			c.show_background_image = $('*[setting="show_background_image"]').is(':checked');
			c.print_title_page = $('*[setting="print_title_page"]').is(':checked');
			c.embolden_scene_headers = $('*[setting="embolden_scene_headers"]').is(':checked');
			c.load_last_opened = $('*[setting="load_last_opened"]').is(':checked');
			c.double_space_between_scenes = $('*[setting="double_space_between_scenes"]').is(':checked');
			c.each_scene_on_new_page = $('*[setting="each_scene_on_new_page"]').is(':checked');
			c.split_dialogue = $('*[setting="split_dialogue"]').is(':checked');
			c.print_sections = $('*[setting="print_sections"]').is(':checked');
			c.print_synopsis = $('*[setting="print_synopsis"]').is(':checked');
			c.print_notes = $('*[setting="print_notes"]').is(':checked');
			c.print_headers = $('*[setting="print_headers"]').is(':checked');
			c.print_actions = $('*[setting="print_actions"]').is(':checked');
			c.print_dialogues = $('*[setting="print_dialogues"]').is(':checked');
			c.number_sections = $('*[setting="number_sections"]').is(':checked');
			c.use_dual_dialogue = $('*[setting="use_dual_dialogue"]').is(':checked');
			c.stats_keep_last_scene_time = $('*[setting="stats_keep_last_scene_time"]').is(':checked');
			c.scene_continuation_top = $('*[setting="scene_continuation_top"]').is(':checked');
			c.scene_continuation_bottom = $('*[setting="scene_continuation_bottom"]').is(':checked');
			c.cloud_lazy_loading = $('*[setting="cloud_lazy_loading"]').is(':checked');
			c.pdfjs_viewer = $('*[setting="pdfjs_viewer"]').is(':checked');
			c.stats_who_with_who_max = parseInt($('*[setting="stats_who_with_who_max"]').val());
			c.print_header = $('*[setting="print_header"]').val();
			c.print_footer = $('*[setting="print_footer"]').val();
			c.print_watermark = $('*[setting="print_watermark"]').val();
			c.print_profile = $('*[setting="print_profile"]').val();
			c.scenes_numbers = $('*[setting="scenes_numbers"]').val();
			settings.save();
		};

		$('.plugin-content[plugin="settings"]').select('input, option').on('change keyup', function() {
			$('.settings-save').removeClass('inactive');
			components_to_data();
		});

		settings.activate.add(function() {
			data_to_components();
		});

	});
</script>