<h1>Settings</h1>
<!--
<table>
	<thead>
		<tr><th>Print</th><th>Miscellaneous</th></tr>
	</thead>
	<tbody>
		<tr>
			<td>
				Page size: <select>
					<option>A4</option>
					<option>US letter</option>
				</select><br />				
			</td>
			<td>				
				Load plugin on startup:<select>
					<option>none</option>
					<option>edit</option>
					<option>stats</option>
					<option>facts</option>
					<option>preview</option>
				</select><br />	
			</td>
		</tr>
		<tr>
			<td rowspan="2">
				<input type="checkbox"> print title page<br />
				<input type="checkbox"> embolden scene headers
			</td>
			<td>
			<input type="checkbox"> load last used on startup<br />
			</td>
		</tr>
	</tbody>
</table>
-->

<table>
	<thead>
		<tr><th colspan="2">Print</th></tr>
	</thead>
	<tbody>
		<tr>
			<td style="text-align: right">Page size:</td><td  style="text-align:center"><select>
					<option>A4</option>
					<option>US letter</option>
				</select>
			</td>
		<tr>
			<td style="text-align: right">Print title page:</td><td style="text-align:center"><input type="checkbox"></td>
		</tr>
		<tr>
			<td style="text-align: right">Embolden scene headers:</td><td style="text-align:center"><input type="checkbox"></td>
		</tr>
		
		<tr><th colspan="2">Miscellaneous</th></tr>
		<tr><td style="text-align: right">Load last opened on startup:</td><td style="text-align:center"><input type="checkbox"></td></tr>
		<tr><td style="text-align: right">Load plugin on startup:</td><td style="text-align:center"><select>
					<option>none</option>
					<option>edit</option>
					<option>stats</option>
					<option>facts</option>
					<option>preview</option>
				</select></td>

		</tr>
	</tbody>
</table>

<!--
<p>Print</p>
<ul>
	<li>Page size: <select>
					<option>A4</option>
					<option>US letter</option>
				</select></li>
	<li>Print title page: <input type="checkbox"></li>
	<li>Load last used on startup: <input type="checkbox"></li>
</ul>
<p>Miscellaneous</p>
<ul>
	<li>Load plugin on startup:<select>
					<option>none</option>
					<option>edit</option>
					<option>stats</option>
					<option>facts</option>
					<option>preview</option>
				</select></li>
	<li><input type="checkbox"> load last used on startup<br />
			</li>
</ul>
-->

<p>
	<button>Save settings</button>
</p>