<style>
	.plugin-content[plugin="settings"] .buttons {
		float: right;
	}
	.plugin-content[plugin="settings"] .buttons p {
		margin: 0;
	}
	.plugin-content[plugin="settings"] table {
		margin: auto;
		width: 100%;
	}
	.plugin-content[plugin="settings"] tr td:nth-child(1) {
		text-align: right;
		border-right: 0;
	}
	.plugin-content[plugin="settings"] tr td:nth-child(2) {
		text-align: left;
		width: 50%;
		border-left-width: 0;
	}
	.settings-panel {
		width: 90%;
		margin: auto;
	}
	
</style>
<div class="settings-panel">
	<table>
		<tbody>
			<tr>
				<th colspan="2">Print</th>
			</tr>
			<tr>
				<td>Page size:</td>
				<td>
					<select setting="print_profile">
						<option value="a4">A4</option>
						<option value="usletter">US letter</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Print title page:</td>
				<td>
					<input setting="print_title_page" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Print sections:</td>
				<td>
					<input setting="print_sections" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Print synopsis:</td>
				<td>
					<input setting="print_synopsis" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Print notes:</td>
				<td>
					<input setting="print_notes" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Print scene headers:</td>
				<td>
					<input setting="print_headers" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Print action:</td>
				<td>
					<input setting="print_actions" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Print dialogue:</td>
				<td>
					<input setting="print_dialogues" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Header:</td>
				<td>
					<input setting="print_header" type="text">
				</td>
			</tr>
			<tr>
				<td>Footer:</td>
				<td>
					<input setting="print_footer" type="text">
				</td>
			</tr>
			<tr>
				<td>Watermark:</td>
				<td>
					<input setting="print_watermark" type="text">
				</td>
			</tr>
			<tr>
				<th colspan="2">Layout</th>
			</tr>
			<tr>
				<td>Split dialogue between pages:</td>
				<td>
					<input setting="split_dialogue" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Accept dual dialogue:</td>
				<td>
					<input setting="use_dual_dialogue" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Double space between scenes:</td>
				<td>
					<input setting="double_space_between_scenes" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Page break after a scene:</td>
				<td>
					<input setting="each_scene_on_new_page" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Prefix sections with numbers:</td>
				<td>
					<input setting="number_sections" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Embolden scene headers:</td>
				<td>
					<input setting="embolden_scene_headers" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Scene numbers:</td>
				<td>
					<select setting="scenes_numbers">
						<option value="none">none</option>
						<option value="left">left</option>
						<option value="right">right</option>
						<option value="both">both</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Scene continuation (the bottom of a page):</td>
				<td>
					<input setting="scene_continuation_bottom" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Scene continuation(the top of the next page):</td>
				<td>
					<input setting="scene_continuation_top" type="checkbox">
				</td>
			</tr>
			<tr>
				<th colspan="2">Text</th>
			</tr>
			<tr>
				<td>Override <i>(MORE)</i> text to:</td>
				<td>
					<input setting="text_more" type="text">
				</td>
			</tr>
			<tr>
				<td>Override <i>(CONT'D)</i> text to:</td>
				<td>
					<input setting="text_contd" type="text">
				</td>
			</tr>
			<tr>
				<td>Override <i>CONTINUED</i> (scene continuation) text to:</td>
				<td>
					<input setting="text_scene_continued" type="text">
				</td>
			</tr>
			<tr>
				<th colspan="2">Miscellaneous</th>
			</tr>
			<tr>
				<td>Show background image:</td>
				<td>
					<input setting="show_background_image" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>Load last opened on startup:</td>
				<td>
					<input setting="load_last_opened" type="checkbox">
				</td>
			</tr>
            <tr>
                <td>Night mode:</td>
                <td>
                    <input setting="night_mode" type="checkbox">
                </td>
            </tr>
			<tr>
				<th colspan="2">Statistics</th>
			</tr>
			<tr>
				<td>Keep last scene slugline time of day if not specified:</td>
				<td>
					<input setting="stats_keep_last_scene_time" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>
					<em>"Who with who"</em>max characters:</td>
				<td>
					<input setting="stats_who_with_who_max" type="input" style="width: 50px">
				</td>
			</tr>
			<tr>
				<th colspan="2">Experimental</th>
			</tr>
			<tr>
				<td>GoogleDrive/Dropbox lazy loading:</td>
				<td>
					<input setting="cloud_lazy_loading" type="checkbox">
				</td>
			</tr>
			<tr>
				<td>JavaScript PDF viewer:</td>
				<td>
					<input setting="pdfjs_viewer" type="checkbox">
				</td>
			</tr>
		</tbody>
	</table>
</div>