<h1>Useless Stats</h1>

<h2 style="margin-top: 30px">Days and nights</h2>
<div id="stats-days-and-nights" style="text-align: center"></div>

<h2 style="margin-top: 30px">Scene length</h2>
<div id="stats-scene-length" width="100%"></div>
