<div class="header-menu">
    <span>auto-save: <a href="#" action="auto-save" title="Auto-save to cloud "><img
            class="auto-save-icon sync-icon icon small-icon"/></a>&nbsp;|&nbsp;</span>
    <span>auto-reload: <a href="#" action="sync-fountain" title="Auto-reload from cloud/disk"><img
            class="auto-reload-icon sync-icon icon small-icon"/></a>&nbsp;|&nbsp;</span>
    <span>save .fountain: <a href="#" action="save-fountain"><img src="gfx/icons/other/download.svg"
                                                                  class="icon small-icon"
                                                                  title="Download Fountain file"/></a></span>
    <span><a href="#" action="save-dropbox-fountain"><img src="gfx/icons/other/dropbox.svg"
                                                          class="icon small-icon"
                                                          title="Upload Fountain file to Dropbox"/></a></span>
    <span><a href="#" action="save-gd-fountain"><img src="gfx/icons/other/gd.svg" class="icon small-icon"
                                                     title="Upload Fountain file to Google Drive"/></a></span>
</div>