<h1>Play with fQuery</h1>

<h2>Basics</h2>
<p>Open developers tools and run:</p>
<pre>
var data = require('modules/data'),
    fquery = require('utils/fountain/query'),
    fhelpers = require('utils/fountain/helpers'),
    h = fhelpers.fq;
</pre>
<p>Create a query:</p>
<pre>
// 'name' - a grouping key
// {lines: 0} - default values for a group
// {sort_by: 'lines'} - apply sorting at the end
var characters = fquery('name', {lines: 0}, {sort_by: 'lines'});
</pre>
<p>Configure your query:</p>
<pre>
// for each 'character' token - create new result and update current character
characters.enter(h.is('character'), function(item, fq){
  var selection = fq.select(item.name());
  fq.current_character = selection;
});

// for each 'dialogue' token - add number of lines for current character
characters.enter(h.is_dialogue(), function(item, fq){
  fq.current_character.lines += item.lines.length;
});

// calculate time after gathering results
characters.exit(function(selection){
	selection.time = selection.lines / data.config.print().lines_per_page;
});
</pre>
<p>Now run query and print the most talkative character:</p>
<pre>
var result = characters.run(data.parsed.tokens);
console.log(result[0].name + ': ' + result[0].time + ' minutes');
</pre>