<h1>Performance test</h1>
<p>Parse
	<input id="test-parse-times" type="input" value="10"/>times:
	<button id="test-parse-perform">perform</button>
</p>
<ul id="test-parse-results"></ul>
<script>
	require(['plugins/dev/test', 'jquery'], function(test, $) {

			$('#test-parse-perform').click(function() {
				var result = test.parse_times(parseInt($('#test-parse-times').val()));
				$('#test-parse-results').empty();
				result.forEach(function(r) {
					$('#test-parse-results').append('<li>' + r.action + ': ' + r.avg);
				});
			});

		});
</script>